# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Payment Providers
PAYMENT_PROVIDER_TOKEN=your_yookassa_provider_token_here
CURRENCY=RUB


# Offer details
OFFER_INN=771618630441
OFFER_FULL_NAME="Дворяк Георгий Алексеевич"
